[Unit]
Description=ClockWidget
After=syslog.target

[Service]
User=<USER>
WorkingDirectory=<PATH_TO_CLONED_REPOSITORY>
ExecStart=<PATH_TO_CLONED_REPOSITORY>/main.py
StandardOutput=syslog
StandardError=syslog
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
